* {
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* ::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ffffff;
  background-image: radial-gradient(#fae4ea 5%, #fae4ea 15%, #ffffff 60%);
  background-size: 700px 70%;
  background-position: 1% 60%;
  background-repeat: no-repeat;
}
